	<div class="container-fluid nopadding">
		<div class="row">
			<div class="container content">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-box">
					<h3>Carga de Cifras de Control</h3>
				</div>
				<div class="col-lg-6" ng-hide="notificacion">
					<div class="container-fluid nopadding">
						<div class="row">
							<div class="container content">
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPT8AT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPT8AT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTDGT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTDGT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTDIT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTDIT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTDMT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTDMT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTBCT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTBCT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTCLT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTCLT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTAST
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTAST">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTDLT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTDLT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KAPTPAT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KAPTPAT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPT8LT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPT8LT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTBQT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTBQT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTCKT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTCKT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPT8BT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPT8BT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTDJT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTDJT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTDNT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTDNT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTCNT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTCNT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTCOT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTCOT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTCPT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTCPT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTDFT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTDFT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPT6WT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPT6WT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTDOT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTDOT">
									</div>
								</div>
								<div class="col-xs-12 row-input">
									<div class="col-lg-offset-2 col-lg-1">
										KTPTCQT
									</div>
									<div class="col-lg-6 input">
										<input type="text" ng-model="cifras.KTPTCQT">
									</div>
								</div>
								<div class="col-xs-12 row-submit nopadding">
									<div class="col-lg-offset-3 col-lg-6">
										<button ng-click="enviar()">Guardar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-show="notificacion">
					<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 input-file">
						<div class="form-group">
							<label for="exampleInputFile">Proceso Finalizado</label>
							
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 send-btn">
							<button type="submit" ng-click="regresar()"> Regresar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		