
  	<div class="archivo mod">
      <a href="archivo.html"><img class="back-arrow" src="img/arrow-back.svg"></a>
      <img src="img/file.svg">
      <h3><b>Archivo 1</b></h3>
      <p>Modificacion 4</p>
      <div class="modificaciones">        
        <div class="ajustes">
            <select>
              <option>opcion 1</option>
            </select>
            <select>
              <option>opcion 2</option>
            </select>
            <select>
              <option>opcion 3</option>
            </select>
            <input type="text" name="input" placeholder="Escribe algo">
          </div>
          <div class="btn">
            <button>Guardar</button>
          </div>
      </div>
    </div>
 