<div class="container-fluid nopadding">		
		<div class="row">
			<div class="container">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 nav-bar">
					<ul>
						<li><a href="index.html">Descarga de Archivo</a></li>
						<li><a href="loadc.html" class="active">Carga de Cat&aacute;logos</a></li>
						<li><a href="loadcc.html">Carga de Cifras de Control</a></li>
						<li><a href="loadt.html">Carga de Tablas</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 avatar">
					<img src="img/avatar.png" alt=""> <span class="text-avatar">¡Hola Fernanda!</span>
				</div>
			</div>
		</div>
	</div>
